*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#050816;
color:white;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
backdrop-filter:blur(15px);
position:sticky;
top:0;
z-index:1000;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:10%;
gap:80px;
}

.hero h1{
font-size:70px;
background:linear-gradient(
90deg,#00c6ff,#a855f7);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.hero-img img{
width:350px;
border-radius:20px;
box-shadow:0 0 40px #00c6ff;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#00c6ff;
border-radius:30px;
color:white;
text-decoration:none;
}

.title{
text-align:center;
font-size:40px;
margin-bottom:40px;
}

section{
padding:100px 10%;
}

.card,.edu-card,.cert,
.project-card,.contact-box{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
padding:30px;
border-radius:20px;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.skill{
padding:20px;
text-align:center;
background:#0f172a;
border-radius:15px;
transition:.3s;
}

.skill:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #00c6ff;
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.project-card:hover{
transform:translateY(-10px);
transition:.4s;
}

input,textarea{
width:100%;
padding:15px;
margin-top:15px;
border:none;
border-radius:10px;
}

button{
margin-top:15px;
padding:15px 25px;
background:#00c6ff;
border:none;
color:white;
cursor:pointer;
border-radius:10px;
}

footer{
text-align:center;
padding:30px;
}